.separate{
    display: flex;
    justify-content: center;
    height:500px;
    padding: 30px 120px;
    
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 45px;
}

.child {

    padding-left: 20px;
    margin-right:50px;   
}

.space{
    margin-top: 20px;
}

.icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
}