.all_elements{
  display: flex;
}

.display{
  display: flex;
  flex-wrap: wrap;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

hr{
  display:flex;
  color: #959da5;
}

.item_title{
    font-family: arial,sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 6px 0 14px 0;
    white-space: nowrap;
    font-weight: 700;
    color: #fff;
    list-style: none;
    
}

.social_align{
  
  display: flex;
  flex-direction: row-reverse;
}

.space {
  padding: 5px;
}

.item_social {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 13px !important;
    display: list-item;
    list-style: none;
    cursor: pointer;
}

.item_social:hover{
  color: #959da5
}

.fa {
  text-decoration: none;
  width: 16px; 
  margin:2px;  
  display: flex;
  flex: space-between;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  
  color:#FCE4EC;
}

.fa-twitter {
 
  color: #FCE4EC;
}

.fa-instagram {
  
  color:#FCE4EC;
}

.linkstylel{
  padding-left: 5px;
  text-decoration: none;
  padding-right: 5px;
  color: white;
  font-size: 13px !important;
  display: list-item;
  list-style: none;
  cursor: pointer;
}

.linkstylel:hover{
text-decoration: underline;
color: #959da5;
}

.item{
    margin-top: 5px;
    color: white;
    font-size: 13px !important;
    display: list-item;
    list-style: none;
    cursor: pointer;
}

.item:hover {
  text-decoration: underline;
  color: #959da5
}

.link{
  position: absolute;
  margin-left: 8px;
  font-size:14px;
  color: #48B2AB;
  
}

.link:hover{
  cursor:pointer;
  color:#f50057;
}

.appImages{
  display: flex;
  align-items: center
}

.alignItense{
    
  
}

.appLink {
  list-style: none;
}



.pageDefense {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-right: auto;
}

.itemDos{
    color: white;
    font-size: 13px !important;
    list-style: none;
}

.itemRight{
    
    color: white;
    font-size: 13px !important;
    list-style: none;
    cursor: pointer;
}

.itemRight:hover{
  text-decoration: underline;
  color: #959da5
}

