.all_elements{
  display: flex;
}

.display{
  display: flex;
  flex-wrap: wrap;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

hr{
  display:flex;
  color: #959da5;
}

.item_title{
    font-family: arial,sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 6px 0 14px 0;
    white-space: nowrap;
    font-weight: 700;
    color: #fff;
    list-style: none;
    
}

.social_align{
  
  display: flex;
  flex-direction: row-reverse;
}

.space {
  padding: 5px;
}

.item_social {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 13px !important;
    display: list-item;
    list-style: none;
    cursor: pointer;
}

.item_social:hover{
  color: #959da5
}

.fa {
  text-decoration: none;
  width: 16px; 
  margin:2px;  
  display: flex;
  flex: space-between;
}

.fa-facebook {
  
  color:#FCE4EC;
}

.fa-facebook:hover{
    color: #3B5998;
}

.fa-twitter {
 
  color: #FCE4EC;
}

.fa-twitter:hover {
 
  color: #1DA1F2;
}

.fa-instagram {
  
  color:#FCE4EC;
}

.fa-instagram:hover {
  
  color: rgb(76, 76, 76)
}
.linkstylel{
  padding-left: 5px;
  text-decoration: none;
  padding-right: 5px;
  color: white;
  font-size: 13px !important;
  display: list-item;
  list-style: none;
  cursor: pointer;
}

.linkstylel:hover{
text-decoration: underline;
color: #959da5;
}

.item{
    margin-top: 5px;
    color: white;
    font-size: 13px !important;
    display: list-item;
    list-style: none;
    cursor: pointer;
}

.item:hover {
  text-decoration: underline;
  color: #959da5
}

.tooltip{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover {
  visibility: visible;
  opacity: 1;
}

.link{
  position: absolute;
  margin-left: 8px;
  font-size:14px;
  color: #48B2AB;
  
}

.link:hover{
  cursor:pointer;
  color:#f50057;
}

.alignItense{
  display:flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center; 
  
}

.pageDefense {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-right: auto;
}

.itemDos{
    color: #959da5;
    font-size: 13px !important;
    list-style: none;
}

.itemRight{
    
    color: white;
    font-size: 13px !important;
    list-style: none;
    cursor: pointer;
}

.itemRight:hover{
  text-decoration: underline;
  color: #959da5
}

